extends layout

block content
  h1= title
  p #[em Tarea 1 IIC2173]: Aplicación Express.js para mostrar requests recibidas por un servidor.
  h2 by Vicente Fuenzalida Marín

  if error
    p Error capturado.